<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FontParams</key>
		<dict>
			<!-- 文字竖排需要旋转的字符:16进制；区间内（包括边界）的所有字符都会在竖排旋转 -->
			<key>GlyphRotateCodeRange</key>
			<array>
				<!-- 以下是除数字外所有ASCII printable字符 -->
				<string>0x20,0x2F</string>
				<string>0x3A,0x7E</string>
				<!-- 以下是中文括号 -->
				<string>0xff08,0xff09</string>
				<string>0x300c,0x300d</string>
				<string>0x3010,0x3011</string>
				<string>0x300a,0x300b</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
