<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_smoot_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_smoot_higlighted</string>
		<key>name</key>
		<string>磨皮</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_acne_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_acne_hilighted</string>
		<key>name</key>
		<string>遮瑕</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_wrinkle_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_wrinkle_highlighted</string>
		<key>name</key>
		<string>祛皱</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_darkeye_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_darkeye_hilighted</string>
		<key>name</key>
		<string>祛黑眼圈</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_whitening_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_whitening_higlighted</string>
		<key>name</key>
		<string>美白</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_facePlump_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_facePlump_highlighted</string>
		<key>name</key>
		<string>面部丰盈</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_sharpen_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_sharpen_highlighted</string>
		<key>name</key>
		<string>清晰度</string>
	</dict>
</array>
</plist>
