<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_video_beauty_edit_origin</string>
		<key>selectIcon</key>
		<string>icon_video_beauty_edit_origin_select</string>
		<key>name</key>
		<string>原始</string>
		<key>analyseName</key>
		<string>原始</string>
		<key>sort</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>4</integer>
		<key>icon</key>
		<string>icon_video_beauty_edit_916</string>
		<key>selectIcon</key>
		<string>icon_video_beauty_edit_916_select</string>
		<key>name</key>
		<string>9:16</string>
		<key>analyseName</key>
		<string>9:16</string>
		<key>sort</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>icon</key>
		<string>icon_video_beauty_edit_34</string>
		<key>selectIcon</key>
		<string>icon_video_beauty_edit_34_select</string>
		<key>name</key>
		<string>3:4</string>
		<key>analyseName</key>
		<string>3:4</string>
		<key>sort</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>icon</key>
		<string>icon_video_beauty_edit_43</string>
		<key>selectIcon</key>
		<string>icon_video_beauty_edit_43_select</string>
		<key>name</key>
		<string>4:3</string>
		<key>analyseName</key>
		<string>4:3</string>
		<key>sort</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>icon</key>
		<string>icon_video_beauty_edit_169</string>
		<key>selectIcon</key>
		<string>icon_video_beauty_edit_169_select</string>
		<key>name</key>
		<string>16:9</string>
		<key>analyseName</key>
		<string>16:9</string>
		<key>sort</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>icon</key>
		<string>icon_video_beauty_edit_11Ins</string>
		<key>selectIcon</key>
		<string>icon_video_beauty_edit_11Ins_select</string>
		<key>name</key>
		<string>4:5</string>
		<key>analyseName</key>
		<string>4:5</string>
		<key>sort</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>icon</key>
		<string>icon_video_beauty_edit_11Ins</string>
		<key>selectIcon</key>
		<string>icon_video_beauty_edit_11Ins_select</string>
		<key>name</key>
		<string>1:1</string>
		<key>analyseName</key>
		<string>1:1</string>
		<key>sort</key>
		<integer>1</integer>
	</dict>
    <dict>
        <key>type</key>
        <integer>7</integer>
        <key>icon</key>
        <string>icon_video_beauty_edit_219</string>
        <key>selectIcon</key>
        <string>icon_video_beauty_edit_219_select</string>
        <key>name</key>
        <string>21:9</string>
        <key>analyseName</key>
        <string>21:9</string>
        <key>sort</key>
        <integer>7</integer>
    </dict>
    <dict>
        <key>type</key>
        <integer>8</integer>
        <key>icon</key>
        <string>icon_video_beauty_edit_fullscreen</string>
        <key>selectIcon</key>
        <string>icon_video_beauty_edit_fullscreen_select</string>
        <key>name</key>
        <string>全屏</string>
        <key>analyseName</key>
        <string>全屏</string>
        <key>sort</key>
        <integer>8</integer>
    </dict>
</array>
</plist>
