<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_smallface_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_smallface_higlighted</string>
		<key>name</key>
		<string>小脸</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_bigeyes_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_bigeyes_higlighted</string>
		<key>name</key>
		<string>大眼</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_narrowface_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_narrowface_higlighted</string>
		<key>name</key>
		<string>窄脸</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_shortface_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_shortface_higlighted</string>
		<key>name</key>
		<string>短脸</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_skinnynose_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_skinnynose_higlighted</string>
		<key>name</key>
		<string>瘦鼻</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_chin_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_chin_higlighted</string>
		<key>name</key>
		<string>下巴</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_mouthshape_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_mouthshape_higlighted</string>
		<key>name</key>
		<string>嘴型</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_forehead_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_forehead_higlighted</string>
		<key>name</key>
		<string>额头</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>icon</key>
		<string>icon_vb_beauty_cheekbones_normal</string>
		<key>selectIcon</key>
		<string>icon_vb_beauty_cheekbones_higlighted</string>
		<key>name</key>
		<string>颧骨</string>
	</dict>
</array>
</plist>
