<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>000000</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>807F80</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>CCCCCC</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FFFFFF</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FCEFFA</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FFE0F1</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FF59A4</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FF9999</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FF6666</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>C81F32</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FE653C</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FF9900</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FDCC0A</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FFD361</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FDDEA5</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FCEEC8</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FFFF00</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>FBFFC2</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>C2D1B3</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>A8FF00</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>C5C56A</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>99AB4E</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>24C752</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>55D0B4</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>669900</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>678D6C</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>9BC4CA</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>B4D1D5</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>85D6FF</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>CCE9FF</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>E3F0FF</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>DCD7EB</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>B6BBD7</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>ABA9D7</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>85A0CB</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>8097D7</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>424CCC</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>8D72FF</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>CC66FF</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>8B2C9D</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>3C0066</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>473E34</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>55371E</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>693119</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>3B1E32</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>451418</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>401F1D</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>213931</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>18221C</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>hexColor</key>
		<string>172A30</string>
		<key>alpha</key>
		<string>1</string>
	</dict>
</array>
</plist>
