<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/auto</string>
		<key>functionName</key>
		<string>一键大片</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_one-click_movie</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_one-click_movie</string>
		<key>subModuleId</key>
		<integer>601</integer>
		<key>analyticsEvent</key>
		<string>mr_makeup</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>一键大片</string>
		<key>accessibilityIdentifier</key>
		<string>2001</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/edit</string>
		<key>functionName</key>
		<string>编辑</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_edit</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_edit</string>
		<key>subModuleId</key>
		<integer>607</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>编辑</string>
		<key>accessibilityIdentifier</key>
		<string>2013</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/filter</string>
		<key>functionName</key>
		<string>滤镜</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_filter</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_filter</string>
		<key>subModuleId</key>
		<integer>602</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>滤镜</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/beauty</string>
		<key>functionName</key>
		<string>美颜</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_beauty</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_beauty</string>
		<key>subModuleId</key>
		<integer>602</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>美肤</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
		<key>newFeatureKey</key>
		<string>kMTVBeautyFeatureV9110</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/border</string>
		<key>functionName</key>
		<string>边框</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_border</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_border</string>
		<key>subModuleId</key>
		<integer>0</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>边框</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/text</string>
		<key>functionName</key>
		<string>文字</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_text</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_text</string>
		<key>subModuleId</key>
		<integer>605</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>文字</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/color</string>
		<key>functionName</key>
		<string>调色</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_color</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_color</string>
		<key>subModuleId</key>
		<integer>0</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>文字</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/pip</string>
		<key>functionName</key>
		<string>画中画</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_pip</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_pip</string>
		<key>subModuleId</key>
		<integer>0</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>画中画</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/sticker</string>
		<key>functionName</key>
		<string>贴纸</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_paster</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_paster</string>
		<key>subModuleId</key>
		<integer>606</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>贴纸</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/music</string>
		<key>functionName</key>
		<string>音乐</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_music</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_music</string>
		<key>subModuleId</key>
		<integer>608</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>音乐</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
		<key>newFeatureKey</key>
		<string>kMTVBMusicFeatureV9100</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/scene</string>
		<key>functionName</key>
		<string>特效</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_scene</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_scene</string>
		<key>subModuleId</key>
		<integer>604</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>特效</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/canvas</string>
		<key>functionName</key>
		<string>画布</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_toolbar_canvas</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_toolbar_canvas</string>
		<key>subModuleId</key>
		<integer>0</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>画布</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
    <dict>
        <key>routeScheme</key>
        <string>meituxiuxiu://videobeauty/auto_beauty</string>
        <key>functionName</key>
        <string>一键美颜</string>
        <key>functionIcon_normal</key>
        <string>icon_vb_center_auto_beauty</string>
        <key>functionIcon_highlighted</key>
        <string>icon_vb_center_auto_beauty</string>
        <key>subModuleId</key>
        <integer>0</integer>
        <key>analyticsEvent</key>
        <string>mr_brighten</string>
        <key>mobEvent</key>
        <string>pushfunction_yes</string>
        <key>mobLabel</key>
        <string>一键美颜</string>
        <key>accessibilityIdentifier</key>
        <string>2014</string>
    </dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/face</string>
		<key>functionName</key>
		<string>精致五官</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_face</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_face</string>
		<key>subModuleId</key>
		<integer>0</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>精致五官</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/teeth</string>
		<key>functionName</key>
		<string>白牙</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_teeth</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_teeth</string>
		<key>subModuleId</key>
		<integer>0</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>白牙</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
	<dict>
		<key>routeScheme</key>
		<string>meituxiuxiu://videobeauty/makeup</string>
		<key>functionName</key>
		<string>美妆</string>
		<key>functionIcon_normal</key>
		<string>icon_vb_center_makeup</string>
		<key>functionIcon_highlighted</key>
		<string>icon_vb_center_makeup</string>
		<key>subModuleId</key>
		<integer>0</integer>
		<key>analyticsEvent</key>
		<string>mr_brighten</string>
		<key>mobEvent</key>
		<string>pushfunction_yes</string>
		<key>mobLabel</key>
		<string>美妆</string>
		<key>accessibilityIdentifier</key>
		<string>2014</string>
	</dict>
</array>
</plist>
