<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<integer>606</integer>
	<key>name</key>
	<string>视频美化贴纸</string>
	<key>categories</key>
	<array>
		<dict>
			<key>category_id</key>
			<integer>6060</integer>
			<key>name</key>
			<string>贴纸</string>
			<key>sub_categories</key>
			<array>
				<dict>
					<key>sub_category_id</key>
					<integer>606090000</integer>
					<key>items</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
