<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<integer>603</integer>
	<key>name</key>
	<string>视频美化转场</string>
	<key>version</key>
	<string>9.0.60</string>
	<key>categories</key>
	<array>
		<dict>
			<key>category_id</key>
			<real>6030</real>
			<key>name</key>
			<string>视频美化转场</string>
			<key>sub_categories</key>
			<array>
				<dict>
					<key>sub_category_id</key>
					<real>60300</real>
					<key>items</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
