<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontName</key>
		<string></string>
		<key>thumbnail</key>
		<string>default</string>
		<key>fontLight</key>
		<string></string>
		<key>fontBold</key>
		<string></string>
		<key>online</key>
		<false/>
		<key>defaultFont</key>
		<true/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>BodoniSvtyTwoSCITCTT-Book</string>
		<key>thumbnail</key>
		<string>BodoniSvtyTwoSCITCTT-Book</string>
		<key>fontLight</key>
		<string>BodoniSvtyTwoSCITCTT-Book</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>SnellRoundhand</string>
		<key>thumbnail</key>
		<string>SnellRoundhand</string>
		<key>fontLight</key>
		<string>SnellRoundhand</string>
		<key>fontBold</key>
		<string>SnellRoundhand-Bold</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>AvenirNext-UltraLight</string>
		<key>thumbnail</key>
		<string>AvenirNext-UltraLight</string>
		<key>fontLight</key>
		<string>AvenirNext-UltraLight</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>GurmukhiMN</string>
		<key>thumbnail</key>
		<string>GurmukhiMN</string>
		<key>fontLight</key>
		<string>GurmukhiMN</string>
		<key>fontBold</key>
		<string>GurmukhiMN-Bold</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Zapfino</string>
		<key>thumbnail</key>
		<string>Zapfino</string>
		<key>fontLight</key>
		<string>Zapfino</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119002</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Futura</string>
		<key>thumbnail</key>
		<string>Futura</string>
		<key>fontLight</key>
		<string>Futura-Medium</string>
		<key>fontBold</key>
		<string>Futura-CondensedExtraBold</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119003</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Arial</string>
		<key>thumbnail</key>
		<string>Arial</string>
		<key>fontLight</key>
		<string>ArialMT</string>
		<key>fontBold</key>
		<string>Arial-BoldMT</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Avenir-Black</string>
		<key>thumbnail</key>
		<string>Avenir-Black</string>
		<key>fontLight</key>
		<string>Avenir-Black</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Avenir-BookOblique</string>
		<key>thumbnail</key>
		<string>Avenir-BookOblique</string>
		<key>fontLight</key>
		<string>Avenir-BookOblique</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>CourierNewPSMT</string>
		<key>thumbnail</key>
		<string>CourierNewPSMT</string>
		<key>fontLight</key>
		<string>CourierNewPSMT</string>
		<key>fontBold</key>
		<string>CourierNewPS-BoldMT</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Didot</string>
		<key>thumbnail</key>
		<string>Didot</string>
		<key>fontLight</key>
		<string>Didot</string>
		<key>fontBold</key>
		<string>Didot-Bold</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Georgia</string>
		<key>thumbnail</key>
		<string>Georgia</string>
		<key>fontLight</key>
		<string>Georgia</string>
		<key>fontBold</key>
		<string>Georgia-Bold</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>TimesNewRomanPSMT</string>
		<key>thumbnail</key>
		<string>TimesNewRomanPSMT</string>
		<key>fontLight</key>
		<string>TimesNewRomanPSMT</string>
		<key>fontBold</key>
		<string>TimesNewRomanPS-BoldMT</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>TrebuchetMS</string>
		<key>thumbnail</key>
		<string>TrebuchetMS</string>
		<key>fontLight</key>
		<string>TrebuchetMS</string>
		<key>fontBold</key>
		<string>TrebuchetMS-Bold</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Verdana</string>
		<key>thumbnail</key>
		<string>Verdana</string>
		<key>fontLight</key>
		<string>Verdana</string>
		<key>fontBold</key>
		<string>Verdana-Bold</string>
		<key>online</key>
		<false/>
		<key>clickCount</key>
		<string>10119000</string>
	</dict>
</array>
</plist>
